* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

/* Header */
h1 {
    color: #0095ff;
    font-size: 3rem;
    margin: 1rem 2rem 0;
}

.select-section {
    background-color: #0095ff;
    text-align: center;
    padding: 1rem;
}

label {
    color: #ffffff;
    margin-right: .5rem;
}

select {
    border-radius: 8px;
}


/* Container */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 3rem;
    column-gap: 5rem;
    margin-top: 3rem;
} 


.icon-box {
    width: calc((100% / 5) - 5rem);
    background-color: lightgray;
    text-align: center;
    padding: 1rem 0;
    border: 3px solid #6c6c6c;
    border-radius: 20px;
}

.icon-box:last-child {
    justify-content: flex-start;
}

.fa-solid {
    font-size: 2rem;
    margin-bottom: 1rem;
}